@model Data.Models.ViewModels.TutorialVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Tutorial.Id !=0 ? "Update": "Create") Tutorial</h2>
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Tutorial.Title"></label>
            <input asp-for="Tutorial.Title" class="form-control" />
            <span asp-validation-for="Tutorial.Title" class="text-danger"></span>
         </div>
         <div class="mb-3">
            <label asp-for="Tutorial.Author"></label>
            <input asp-for="Tutorial.Author" class="form-control" />
            <span asp-validation-for="Tutorial.Author" class="text-danger"></span>
         </div>
         <div class="mb-3">
            <label asp-for="Tutorial.ImgUrl"></label>
            <input type="file" id="uploadBox" name="file" class="form-control" />
         </div>
         <div class="mb-3">
            <label asp-for="Tutorial.Description"></label>
            <textarea asp-for="Tutorial.Description" rows="3" class="form-control"></textarea>
            <span asp-validation-for="Tutorial.Description" class="text-danger"></span>
         </div>
        <div class="mb-3">
            <label asp-for="Tutorial.CategoryId"></label>
            <select asp-for="Tutorial.CategoryId" asp-items="@Model.CategoryList" class="form-select">
            <option disabled selected>--Select Category</option>
            </select>
         </div>
         <div class="mb-3">
            <label asp-for="Tutorial.SubcategoryId"></label>
            <select asp-for="Tutorial.SubcategoryId" asp-items="@Model.SubcategoryList" class="form-select">
            <option disabled selected>--Select Subcategory</option>
            </select>
         </div>
         <div class="mb-3">
            <label asp-for="Tutorial.SourceId"></label>
            <select asp-for="Tutorial.SourceId" asp-items="@Model.SourceList" class="form-select">
            <option disabled selected>--Select Source--</option>
            </select>
         </div>
         <div class="mb-3">
            <label asp-for="Tutorial.Link"></label>
            <input asp-for="Tutorial.Link" class="form-control" />
            <span asp-validation-for="Tutorial.Link" class="text-danger"></span>
         </div>
        @if(Model.Tutorial.Id != 0)
        {
            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        }
        else
        {
            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
        }
         <a asp-controller="Tutorial" asp-action="Index" class="btn btn-secondary" style="width:150px">
             Back to List
         </a>
    </div>
</form>
    

 

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function ValidateInput(){
            if(document.getElementById("uploadBox").value==""){
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Please upload an image!',
                })
            }
        }
    </script>
}