@model LearningList

<div class="container mt-4">
	<div class="col-12">
		<div class="card-header bg-primary text-light rounded">
			<div class="row">
				<div class="col-12  pt-2">
					<h4 class="text-white">You Learning List</h4>
					<p style="font-size: 15px">In this panel are the tutorials you are currently learning. If you are done with one
						tutorial you can send it to your Archived Tutorials Panel. To do this please click the red button next to the
						tutorial. To go to Archived Tutorials Panel plase click the blue button on the end of your tutorials
						list.
					</p>
				</div>
			</div>
		</div>
		<div class="card-body">
			@foreach(var item in Model.ArchivedTutorials)
			{
				<div class="row mb-2 rounded" style="border:1px solid #8f96e3; border-radius: 5px;">
					<div class="col-lg-2 text-center py-2">
						<img src="@item.ImgUrl" class="rounded" width="100%" />
					</div>
					<div class="col-8 col-lg-7 py-4 mt-4 text-start fw-bold">
						@item.Title
					</div>
					<div class="col-4 col-lg-2 py-4 mt-4  ">
						@item.Author
					</div>
					<div class="col-12 col-lg-1 py-4 mt-3 mr-4 text-end">
							<a asp-controller="LearningList" asp-action="Archive" asp-route-Id="@item.Id" class="btn btn-danger">
								<i class="bi bi-archive-fill"></i>
							</a>
					</div>
				</div>
			}
		</div> 
			
		<div class="card-footer rounded mb-2 p-4" style="background-color:#3459e6">
			<div class="col-12 text-end">
				<a asp-controller="Home" asp-action="Index" class="btn btn-secondary ">Back to Home Page</a>
				<a asp-controller="LearningList" asp-action="Archived" class="btn btn-success ">Go to Archived Tutorials</a>
			</div>
		</div>
	</div>
</div>