@model TutorialWithScorePostVM

<div class="container " style="margin-top:50px; border-radius: 5px">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 p-2" style="border:1px solid #8f96e3; border-radius: 15px;">
            <form method="post" asp-action="Archive">
            <input asp-for="Id" hidden/>
            <div class=" p-3 mt-4 justify-content-center">   
                <div class="row pb-2 text-center">
                    <h2 class="text-primary mb-3">Mark this Tutorial as archived</h2>
                    <p>To help other users please evaluate tutorial.</p>
                </div>
                
                @*<div asp-validation-summary="All"></div>*@
                <div class="mb-3 mb-3">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" disabled class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                 </div>
                 <div class="mb-3 col-8 col-md-4">
                    <label asp-for="Score"></label>
                    <select asp-for="Score" class="form-control" asp-items="new SelectList(ViewBag.Score)">
                        <option disabled selected>--Please choose your socore--</option> </select>
                    <span asp-validation-for="Score" class="text-danger"></span>
                 </div>

                 <button type="submit" class="btn btn-danger mt-3" style="width:150px">Archive</button>
                 <a asp-controller="LearningList" asp-action="Index" class="btn btn-secondary mt-3" style="width:150px">
                     Back to List
                 </a>
            </div>
        </form>
        </div>
    </div>
        
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}